---
layout: default
---

<section id="cover">
    {% include home/cover.html %}
</section>

<section id="the-beginning">
    {% include home/the-beginning.html %}
</section>

<section id="couple">
    {% include home/couple.html %}
</section>

<section id="countdown">
    {% include home/countdown.html %}
</section>

<section id="our-photo">
    {% include home/our-photo.html %}
</section>

<section id="wedding-detail">
    {% include home/wedding-detail.html %}
</section>

<section id="rsvp">
    {% include home/rsvp.html %}
</section>






