body
  font-family: 'Varela'
  color: #555555

//Global
.stylized
  font-family: 'Gotham-Medium','sans-serif'

.bold-stylized
  font-family: 'Montserrat','sans-serif'

.section-header
  text-transform: uppercase
  text-align: center

.section-spacer
  width: 100px
  border-top: 5px solid #ef5350
  margin: 15px auto 20px

.no-gutter
  padding-left: 0
  padding-right: 0

#cover
  position: relative
  top: -148px
  background-image: url('img/cover-bg.jpg')

  background-attachment: fixed
  background-size: cover
  background-position: center center
  height: 100vh





