<div class="container no-gutter">
    <div class="content-container">
        <h1 class="content-header stylized-header"></h1>
    </div>
    <br/>
    <div id="clock">
        <div class="item-list col-md-3 col-sm-12  col-xs-12">
            <div class="item-container ">
                <span id="countdown-day" class="countdown-value"></span>
                <span class="countdown-name stylized-header">DAYS</span>
            </div>
        </div>

        <div class="item-list col-md-3 col-sm-12  col-xs-12">
            <div class="item-container ">
                <span id="countdown-hour" class="countdown-value"></span>
                <span class="countdown-name stylized-header">HOURS</span>
            </div>
        </div>

        <div class="item-list col-md-3 col-sm-12  col-xs-12">
            <div class="item-container ">
                <span id="countdown-minute" class="countdown-value"></span>
                <span class="countdown-name stylized-header">MINUTES</span>
            </div>
        </div>

        <div class="item-list col-md-3 col-sm-12  col-xs-12">
            <div class="item-container ">
                <span id="countdown-second" class="countdown-value"></span>
                <span class="countdown-name stylized-header">SECONDS</span>
            </div>
        </div>
    </div>
</div>
