<div class="container-fluid no-gutter section-container">
    <div class="left-section">
        <div class="content-container">
            <h1 class="content-header stylized">the beginning</h1>
        </div>
    </div>
    <div class="right-section">
        <div class="content-container">
            <h1 class="content-header stylized-header">How did it all started</h1>
            <div class="content-description">
                <p class="content-text">{{ site.the-beginning.content-description }}</p>
            </div>
        </div>
    </div>
</div>