<div class="container-fluid no-gutter section-container visible-lg visible-md visible-sm hidden-xs">
    <div class="left-section">
        <div class="content-container">
            <h1 class="content-header stylized-header">Location</h1>
            <div class="content-description">
                <p class="content-text">{{ site.the-beginning.content-description }}</p>
            </div>
        </div>

    </div>
    <div class="right-section">
        <div class="content-container">
            <h1 class="content-header stylized">wedding details</h1>
        </div>
    </div>
</div>


<div class="container-fluid no-gutter section-container hidden-lg hidden-md hidden-sm visible-xs">
    <div class="left-section">
        <div class="content-container">
            <h1 class="content-header stylized">wedding details</h1>
        </div>
    </div>

    <div class="right-section">
        <div class="content-container">
            <h1 class="content-header stylized-header">Location</h1>
            <div class="content-description">
                <p class="content-text">{{ site.the-beginning.content-description }}</p>
            </div>
        </div>
    </div>
</div>